* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .form_Contain{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
   

   
  }

.container{
  width: 40vw;
  height: 70vh;
 /* From https://css.glass */
/* background: rgba(215, 211, 211, 0.09); */
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(189, 187, 187, 0);
  border-bottom: 0.5px solid rgba(227, 20, 130, 0.3);
 background-color: pink;
}




@media screen and (max-width: 800px) {
  .container{
    width: 90vw;
    height: 50vh;
 
  }
}
